<header class="header l-header-v2" data-sticky="fixed">
      <div class="header__container container">
        <div class="header__row">
          <div class="header__col -left">
            <a href="">
              <img src="/images/logo-white.svg" alt="">
            </a> 
          </div>
          <div class="header__col -center">
            <ul class="main-nav">
              <li class="main-nav__item"><a href=""><span>About</span></a></li>
              <li class="main-nav__item"><a href="">Services</a></li>
              <li class="main-nav__item"><a href="">Portfolio</a></li>
              <li class="main-nav__item"><a href="">Clients</a></li>
              <li class="main-nav__item"><a href="">Media</a></li>
              <li class="main-nav__item"><a href="">Contact</a></li>
            </ul>
          </div>
          <div class="header__col -right">
            <a href="" class="c-btn -primary">
              <img src="/images/brand-arrow.svg" class="c-btn__img" />
              <span class="c-btn__txt">Get in touch</span>
            </a>
          </div>
        </div>
      </div>
    </header>