<div class="m-banner -full-height l-banner-v1">
        <div class="container">
          <div class="l-banner"  style="--column-ratio: 50%">
            <div class="l-banner__col m-banner__text">
              <div class="c-heading -h1">
                <h1 class="c-heading__title">A leading Logistics <br> company based in Ghana</h1>
                <div class="c-heading__subtitle">
                  <p>
                    Dedicated to providing top-notch transportation and logistics services
                  </p>
                </div>
                <div class="l-banner-btn">
                  <a href="" class="c-btn -secondary">
                    <img src="/images/brand-arrow.svg" class="c-btn__img" />
                    <span class="c-btn__txt">Start the Transportation</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>